# Bloque TOUS les sous-dossiers à la racine
/*/

# Fichiers spécifiques à bloquer
throttle.ctrl
*.lwp
*.db
user-config.py
user-password.py

# Bloque les fichiers cachés sauf .gitignore
.*
!.gitignore
__pycache__/
__pycache__/
logs_vikidia_auth.txt

# Exception pour le dossier /static
!/static/
